apiVersion: v1
kind: Service
metadata:
  name: redis-svc-hl
  namespace: dev
spec:
  selector:
    app: redis
  type: ClusterIP
  clusterIP: None
  ports:
    - name: redis
      port: 6379
      targetPort: 6379

---

apiVersion: v1
kind: Service
metadata:
  name: redis-svc-np
  namespace: dev
spec:
  type: NodePort
  selector:
    app: redis
  ports:
    - name: redis
      port: 6379
      targetPort: 6379
      nodePort: 30379
