apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-initdb
  namespace: dev
data:
  init.sql: |
    CREATE DATABASE IF NOT EXISTS `idle_game` CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
    USE `idle_game`;

    CREATE TABLE `t_account` (
      `account_id` bigint NOT NULL AUTO_INCREMENT,
      `email` varchar(50) NOT NULL,
      `password` varchar(250) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
      `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
      `last_login_time` datetime DEFAULT NULL,
      PRIMARY KEY (`account_id`),
      UNIQUE KEY `t_account_unique` (`email`)
    ) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
    
    CREATE TABLE `t_player` (
    `player_id` bigint NOT NULL AUTO_INCREMENT,
    `account_id` bigint NOT NULL,
    `level` int NOT NULL DEFAULT '1',
    `gold_level` int NOT NULL DEFAULT '1',
    `stage` int NOT NULL DEFAULT '1',
    `gold` bigint NOT NULL DEFAULT '0',
    PRIMARY KEY (`player_id`),
    UNIQUE KEY `t_player_unique` (`account_id`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
