apiVersion: v1
kind: Service
metadata:
  name: mysql-svc-hl
  namespace: dev
spec:
  selector:
    app: mysql
  type: ClusterIP
  clusterIP: None
  ports:
    - name: mysql
      port: 3306
      targetPort: 3306

---

apiVersion: v1
kind: Service
metadata:
  name: mysql-svc-np
  namespace: dev
spec:
  type: NodePort
  selector:
    app: mysql
  ports:
    - name: mysql
      port: 3306
      targetPort: 3306
      nodePort: 30306
