apiVersion: apps/v1
kind: Deployment
metadata:
  name: game-server
  namespace: dev
  labels:  
    app: game-server
    component: backend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: game-server
  template:
    metadata:
      labels:
        app: game-server
    spec:
      containers:
        - name: game-server
          image: getdondev/simple-idle-game-server:dev
          imagePullPolicy: Always
          resources:
            requests:
              cpu: "100m"
              memory: "20Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: game-server-secret           
          startupProbe:
            httpGet:
              path: "/startup"
              port: 8080
            periodSeconds: 5
            successThreshold: 1
            failureThreshold: 10
          readinessProbe:
            httpGet:
              path: "/ready"
              port: 8080
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 2
          livenessProbe:
            httpGet:
              path: "/healthz"
              port: 8080
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 2







